{
  "parser"  : "babel-eslint",
  "extends" : "airbnb",
  "env"     : {
    "browser" : true
  },
  "globals" : {
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__DEBUG__"    : false,
    "__DEBUG_NW__" : false
  },
  "rules": {
    "func-names"              : 0,
    "key-spacing"             : 0,
    "no-else-return"          : 0,
    "no-multi-spaces"         : 0,
    "one-var"                 : 0,
    "new-cap"                 : 0,
    "react/jsx-boolean-value" : 0,
    "space-in-parens"         : 0,
    "comma-dangle"            : [1, "never"],
    "quotes"                  : [2, "single"],
    "semi"                    : [2, "never"],
    "jsx-quotes"              : [2, "prefer-single"],
    "indent"                  : [2, 2, {"SwitchCase": 1}]
  }
}
