/* global styles */
$bg-color: white;

@import 'fonts/roboto';
@import 'typography';
@import 'links';

:global(html) {
  position: relative;
  min-height: 100%;
}

:global(body) {
  margin: 0 0 100px;
  background-color: $bg-color;

  h1 {
    margin-top: 10px;
  }

  h2 {
    margin-bottom: 20px;
  }

  img {
    width: 100%;
  }
}
